$black: #000000;
$lighttext: #FFFFFF;
$color: #AA0000;

.container {
  margin: 0 auto;
  width: 80%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $black;
  color: $lighttext;
}

.header-image img{
  width: 100%;
}

#nav {
  background-color: $color;
}

.nav-social {
  padding-top: 0.75em;
}

a.brand-logo {
  img{
    @media (max-width: 320px) {
      height: 48px;
    }
  }
}

#sidenav-overlay {
  background-color: rgba(255, 255, 255, .25);
  z-index: 1;
}

.social-bar {
  margin: auto auto;
  padding-bottom: 1em;
  .social-images img {
    padding: 0em 1em 0em 1em;
  }
}

#modal1 {
  background-color: $color;
}

.contact {
  margin: 0 auto;
  background-color: $color;
  color: $lighttext;
  text-align: center;
}

.modal .modal-footer{
  background-color: $color;
  color: $lighttext;
}

#submit {
  background-color: $black;
  border: 1px solid $lighttext;
  padding-left: 1em;
  padding-right: 1em;
}

#submit:hover {
  background-color: $lighttext;
  color: $black;
}
