.container {
  margin: 0 auto;
  width: 80%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #FFFFFF; }

.header-image img {
  width: 100%; }

#nav {
  background-color: #AA0000; }

.nav-social {
  padding-top: 0.75em; }

@media (max-width: 320px) {
  a.brand-logo img {
    height: 48px; } }

#sidenav-overlay {
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 1; }

.social-bar {
  margin: auto auto;
  padding-bottom: 1em; }
  .social-bar .social-images img {
    padding: 0em 1em 0em 1em; }

#modal1 {
  background-color: #AA0000; }

.contact {
  margin: 0 auto;
  background-color: #AA0000;
  color: #FFFFFF;
  text-align: center; }

.modal {
  background-color: #000000; }
  .modal .modal-footer a {
    color: #FFFFFF; }

.modal .modal-footer {
  background-color: #AA0000;
  color: #FFFFFF; }

#submit {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  padding-left: 1em;
  padding-right: 1em; }

#submit:hover {
  background-color: #FFFFFF;
  color: #000000; }

.fc-view, .fc-basic-view {
  background-color: #FFFFFF;
  color: #AA0000;
  border: 1px solid #000000;
  box-shadow: 2px 2px 2px #FFFFFF; }

.fc-day-header {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #e6e6e6 !important; }

td.fc-day-top {
  background-color: #000000 !important;
  color: #FFFFFF; }

td.fc-day {
  border: 1px solid #e6e6e6; }

.fc-unthemed td.fc-today {
  color: #FFFFFF; }

.fc-day.fc-widget-content.fc-today.fc-state-highlight {
  background-color: #E3EBF4; }

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
  border-color: #e6e6e6; }

.fc-day-grid-event .fc-content {
  white-space: normal; }

.fc-event {
  background-color: #AA0000;
  border-color: #AA0000;
  color: #FFFFFF; }
