---
title: Lovebettie - pioneers of Swagger Rock
---
.header-image
  %img{src: '/images/lb.jpg'}

.cal.container
  .row
    #calendar.col.s12{data: {apiKey: "#{ENV['GOOGLE_CAL_API_KEY']}", calendarId: "#{ENV['GOOGLE_CAL_ID']}"}}
